<div class="row">
  <div class="col-8 shadow-lg bg-weight mb-5">
    <div class="card">
      <div class="card-header">
        <h3>Add Property</h3>
      </div>
      <div class="card-body">
        <form
          (ngSubmit)="submitForm()"
          [formGroup]="AddProperty_ReactiveForm"
          class="mt-3"
        >
          <div class="tab-panel">
            <tabset class="member-tabset" #FormTabs>
              <!-- 
          Baisc informations....................... -->

              <tab heading="Basic Info" id="tab1" formGroupName="BasicInfo"
                >I want to
                <div class="mt-2 mb-2">
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="SellRent"
                  >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                  <div class="error-block">
                    <span *ngIf="GetSellRent.invalid && NextButtonclicked"
                      >plese select a any</span
                    >
                  </div>

                  <div>
                    <div>
                      <label>BHK</label>
                    </div>
                    <div
                      class="btn-group"
                      [(ngModel)]="PropertyView.BHK"
                      btnRadioGroup
                      formControlName="Bhk"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <label
                        *ngFor="let bhk of ['1', '2', '3', '4', '5']"
                        class="btn btn-outline-primary m-2"
                        [btnRadio]="bhk"
                        tabindex="0"
                        role="button"
                        name="BHK"
                        >{{ bhk }}</label
                      >
                    </div>
                    <div class="error-block">
                      <span *ngIf="GetBHK.invalid && NextButtonclicked"
                        >plese select a any</span
                      >
                    </div>
                  </div>
                  <div>
                    <label>Property Type</label>
                    <div
                      class="btn-grou"
                      btnRadioGroup
                      [(ngModel)]="PropertyView.Ptype"
                      formControlName="Ptype"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <label
                        *ngFor="let type of PropertyType"
                        class="btn btn-outline-primary m-2"
                        [btnRadio]="type"
                        tabindex="0"
                        role="button"
                        formControlName="Ptype"
                        >{{ type }}</label
                      >
                    </div>
                  </div>
                  <div class="error-block">
                    <span *ngIf="GetPType.invalid && NextButtonclicked"
                      >plese select a any</span
                    >
                  </div>
                  <div>
                    <label>FurnishedType</label>
                    <div
                      class="btn-grou"
                      [(ngModel)]="PropertyView.Ftype"
                      formControlName="Ftype"
                      btnRadioGroup
                      required
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <label
                        *ngFor="let furn of FurnishinType"
                        class="btn btn-outline-primary m-2"
                        [btnRadio]="furn"
                        tabindex="0"
                        role="button"
                        name="SellRent"
                        >{{ furn }}</label
                      >
                    </div>
                    <div class="error-block">
                      <span *ngIf="GetFType.invalid && NextButtonclicked"
                        >plese select a any</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="Name">In Building/Socity/Project</label>
                  <input
                    class="form-control"
                    formControlName="Name"
                    [(ngModel)]="PropertyView.Name"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span
                    *ngIf="!GetName.valid && GetName.touched"
                    class="error-block"
                  >
                    <span *ngIf="GetName.hasError('minlength')">
                      plese enter at least 5 charecters</span
                    >
                    <span *ngIf="GetName.hasError('required')"
                      >plese enter name</span
                    >
                  </span>
                </div>
                <div class="form-group col-12">
                  <label for="City">City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="City"
                    [(ngModel)]="PropertyView.City"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span
                    *ngIf="!GetCity.valid && GetCity.touched"
                    class="error-block"
                    ><span *ngIf="GetCity.hasError('required')"
                      >plese enter city or Place</span
                    >
                  </span>
                </div>
                <div class="form-group col-12">
                  <button
                    (click)="selectTab(1, BasicInfo.valid)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <!-- Pricing Informations......................................... -->

              <tab heading="Pricing and Area" formGroupName="PriceInfo"
                >Pricing Information
                <div class="form-group col-12">
                  <label *ngIf="GetSellrent.value == 1">Price (in USD)</label>
                  <label *ngIf="GetSellrent.value == 2">Rent (in USD)</label>
                  <input
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="PropertyView.Price"
                    type="text"
                    class="form-control"
                    formControlName="Price"
                  />
                </div>
                <span
                  *ngIf="!GetPrice.valid && GetPrice.touched"
                  class="error-block"
                >
                  Plese enter
                  <span *ngIf="GetSellRent.value == 1; else showrent"
                    >Price</span
                  >
                  <ng-template #showrent>Rent</ng-template>
                </span>

                <div *ngIf="GetSellRent.value == 2" class="form-group col-12">
                  <label>Security (in USD)</label>
                  <input
                    formControlName="Sequrity"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="sequrity"
                  />
                </div>

                <div *ngIf="GetSellRent.value == 2" class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input
                    [ngModelOptions]="{ standalone: true }"
                    name="Builtarea"
                    type="text"
                    class="form-control"
                    formControlName="Maintance"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input
                    [(ngModel)]="PropertyView.BuiltArea"
                    formControlName="BuiltArea"
                    type="text"
                    class="form-control"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <div>
                    <span
                      *ngIf="!GetBuiltAria.valid && GetBuiltAria.touched"
                      class="error-block"
                      ><span *ngIf="GetBuiltAria.hasError('required')"
                        >plese enter squre feet</span
                      >
                    </span>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input
                    formControlName="CarpetArea"
                    type="text"
                    class="form-control"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
                <div *ngIf="!GetCarpetArea.valid && GetCarpetArea.touched">
                  <span
                    class="error-block"
                    *ngIf="GetCarpetArea.hasError('required')"
                    >plese enter carpet Aria</span
                  >
                </div>

                <div class="form-group col-12">
                  <button
                    (click)="selectTab(2, PriceInfo.valid)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Next
                  </button>
                </div>
                <div class="form-group col-12">
                  <button
                    (click)="BackTab(0)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <!-- Address informations....................................................................... -->

              <tab heading="Address" formGroupName="AddressInfo"
                >Address Info
                <div class="form-group col-12">
                  <div class="form-group col-12">
                    <label>Floor</label>
                    <input
                      formControlName="FlorNo"
                      type="text"
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label>Total Floor</label>
                    <input
                      formControlName="TotalFloor"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label>Address</label>
                    <input
                      formControlName="Address"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label>Landmark</label>
                    <input
                      formControlName="LandMark"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <button
                    (click)="selectTab(3, AddressInfo.valid)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Next
                  </button>
                </div>
                <div class="form-group col-12">
                  <button
                    (click)="BackTab(1)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <!-- Other Details ........................................................................................ -->

              <tab
                id="heading"
                heading="Other Details"
                formGroupName="OtherInfo"
                >OTHER DETAILS
                <div class="form-group col-12 mt-3">
                  <div class="form-group col-12">
                    <label>Ready to Move</label><br />
                    <input
                      formControlName="RTM"
                      [ngModelOptions]="{ standalone: true }"
                      type="radio"
                      id="Yes"
                      value="1"
                    />
                    <label class="m-2">Yes</label>

                    <input
                      formControlName="RTM"
                      [(ngModel)]="property.RTM"
                      type="radio"
                      id="No"
                      [ngModelOptions]="{ standalone: true }"
                      value="2"
                    />
                    <label class="m-2">No</label>
                  </div>
                  <span
                    class="error-block"
                    *ngIf="GetRTM.invalid && NextButtonclicked"
                  >
                    Plese select any
                  </span>

                  <div class="form-group col-3">
                    <label class="mt-2 mb-2">Possession/Avaialble From</label>
                    <input
                      type="text"
                      placeholder="Select a date"
                      class="form-control"
                      formControlName="PossionOn"
                      [ngModelOptions]="{ standalone: true }"
                      bsDatepicker
                      [bsConfig]="{
                        containerClass: 'theme-blue',
                        dateInputFormat: 'DD-MM-YYYY'
                      }"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label class="mt-2 mb-2">Age of Property</label>
                    <input
                      formControlName="AOP"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label class="mt-2 mb-2">Gated Community</label>
                    <div>
                      <div
                        formControlName="Gated"
                        [ngModelOptions]="{ standalone: true }"
                        class="btn-group"
                        btnRadioGroup
                      >
                        <label
                          class="btn btn-outline-primary m-1"
                          btnRadio="1"
                          tabindex="0"
                          role="button"
                          name="SellRent"
                          >yes</label
                        >
                        <label
                          class="btn btn-outline-primary m-1"
                          btnRadio="2"
                          tabindex="0"
                          role="button"
                          name="SellRent"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label class="mt-2 mb-2">Ready to move</label>
                    <div
                      formControlName="RTMDirection"
                      class="btn-grou"
                      btnRadioGroup
                    >
                      <label
                        *ngFor="let mov of ['East', 'West', 'North', 'South']"
                        class="btn btn-outline-primary m-2"
                        [btnRadio]="mov"
                        tabindex="0"
                        role="button"
                        name="SellRent"
                        >{{ mov }}</label
                      >
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label class="mt-2 mb-2">Description</label>
                    <textarea
                      formControlName="Description"
                      type="text"
                      class="form-control"
                      rows="6"
                    ></textarea>
                  </div>

                  <button
                    (click)="selectTab(4, OtherInfo.valid)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Next
                  </button>
                </div>
                <div class="form-group col-12">
                  <button
                    (click)="BackTab(2)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <!-- 
          Photo Upload............................................................................................. -->

              <tab heading="Photos"
                >Photo Upload
                <div class="form-group col-12">
                  <div class="form-group col-12">
                    <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br />
                      This is under construction
                    </div>
                  </div>
                  <button
                    (click)="BackTab(0)"
                    type="button"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Back
                  </button>
                  <button
                    type="reset"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary mt-3"
                    style="width: 100%"
                  >
                    Save
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-header">
      <h3>Your property preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [HideIcons]="true" [property]="PropertyView">
      </app-property-card>
    </div>
  </div>
</div>
