<div class="row">
  <div class="col-sm-8" style="display: flex">
    <input
      id="City-inp"
      [(ngModel)]="City"
      placeholder="Search city"
      class="form-control"
    />
    <button class="btn btn-success" id="serch-btn" (click)="SerchCity()">
      search
    </button>
    <button id="clear-btn" class="btn btn-secondary" (click)="ClearFilter()">
      clear
    </button>
    <select class="form-select" [(ngModel)]="SortParams">
      <option selected><i class="fa-light fa-filter"></i></option>
      <option value="City">City</option>
      <option value="Price">Price</option>
      <span class="material-icons"> filter_alt </span>
    </select>
    <button (click)="changeSortDirection()" class="btn btn-primary">
      <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
      <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
      sort
    </button>
  </div>
</div>
<div class="row">
  <div
    *ngFor="
      let pro of propertes
        | filterPipe : SearchCity : 'City'
        | sort : [SortParams, SortDirection]
    "
    class="shadow-lg col-sm-4 p-2"
    id="listprop"
  >
    <app-property-card [property]="pro"></app-property-card>
  </div>
</div>

<!-- <div class="col-sm-4">
  <div class="card card-header">
    <h3>Your property preview</h3>
  </div>
  <div class="col-sm-12 shadow-lg p-3 bg-white">
    <app-property-card> </app-property-card>
  </div>
</div> -->
