.shadow-lg {
  margin-left: 80px;
  margin-top: 20px;
}

#serch-btn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
#clear-btn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
#City-inp {
  width: 300px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.form-select {
  margin-left: 10px;
  width: 200px;
}
