#rww {
  margin-right: 0;
  margin-left: 0;
}

.shadow-lg {
  align-items: center;
  margin-top: 20px;
}

#serch-btn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
#clear-btn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
#City-inp {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.form-select {
  margin-left: 10px;
  width: 200px;
}

#listprop {
}
