<div class="card">
  <div class="card-img-wrapper">
    <img
      class="card-img"
      src="assets/images/{{property.Image}}"
      onerror="this.src='assets/images/default.png'"
    />
    <ul
      *ngIf="!HideIcons"
      class="list-inline text-center btn-over-the-image animate"
    >
      <li class="list-inline-item">
        <button
          routerLink="/property-detail/{{property.id}}"
          class="btn btn-primary"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa-solid fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h3>{{property.name}}</h3>
    <h4 class="mb-0">{{property.bhk}} BHK {{property.propertyType}}</h4>
    in {{property.name}}
    <span *ngIf="property.name">,</span>
    {{property.city}}
    <h6 class="mt-2">
      {{property.furnishingType}}
      <span *ngIf="property.furnishingType!=='Unfurnished'">Furnished</span> |
      Ready to move
    </h6>
    <hr class="mt-0 mb-2" />
    <h6 class="mb-0">
      price: <span id="price">{{property.price}} USD</span> | Area:
      <span id="sqr"> {{property.builtAria}} Sq Ft</span>
    </h6>
  </div>
</div>
